@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');
@import './variables';
@import './utils';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'roboto', 'sans-serif' ;
}

body {
    @include flexContainerCenter(column);
    background: $backgournd_color1
}

header {
    @include flexContainerCenter(row);
    gap: 1rem;
    width: 100%;
    height: 10vh;
    background: $backgournd_color2;
    text-align: center;
    // justify-content: space-between;
    // justify-content: flex-end;

    // .spacer {
    //     width: 70%;
    // }
    .title {
        display: flex;
        a {
            text-decoration: none;
        }
        span {
            color: $main_text_color;
            font-size: 1.5rem;
            font-weight: bold;
        }
    }

    .nav {
        display: flex;
        gap: 1rem;
        // padding: 1rem;
        a {
            font-size: 1.2rem;
            font-weight: bold;
            list-style: none;
            text-decoration: none;
            color: $main_text_color;
            
        }
    }
}

main {
    @include flexContainerCenter(row);
    width: 100%;
    height: 100vh;

    .container {
        @include flexContainerCenter(column);
        width: 900px;
        height: 600px;
        background: $backgournd_color2;
        gap: 1rem;

        .title {
            h3 {
                color: $main_text_color;
            }
        }

        .modal {
            @include flexContainerCenter(column);
            visibility: hidden;
            position: absolute;
            width: 300px;
            height: 200px;
            background: $backgournd_color1 ;
            color: $main_text_color;
            gap: 1rem;

            #modal_content {
                text-align: center;
                font-size: 1.5rem;
                color: $main_text_color;
            }

            #close_cross {
                position: absolute;
                font-size: 1.5rem;
                top: 15px;
                right: 30px;
                &:hover {
                    cursor: pointer;
                }
            }
            .close_button {
                text-align: center;
                width: 100px;
                height: 30px;
                outline: none;
                border: none;
                background-color: $button_color;
                color: $main_text_color;
                font-size: 1.2rem;
                border-radius: 5px;
                cursor: pointer;
                &:hover {
                    background: $button_color_hover;
                }
            }
        }

        .display_chances_container {
            #display_chances {
                font-size: 1.5rem;
                color: $main_text_color;
            }
        }
        
        .display_dash {
            color: $main_text_color;
            text-align: center;
            font-size: 4rem;
        }

        .buttons_container {
            @include flexContainerCenter(row);
            flex-wrap: wrap;
            width: 300px;
            height: 200px;
            gap: .5rem;

            .button {
                width: 40px;
                height: 40px;
                font-size: 1.5rem;
                border: none;
                cursor: pointer;
                background: $button_color;
                color: $main_text_color;
                border-radius: 5px;
                &:hover {
                    background: $button_color_hover;
                }
            }

        }
    }
}


footer {
    @include flexContainerCenter(row);
    width: 100%;
    // height: 5vh;
    margin-top: 1rem;
    p {
        color: $main_text_color;
        text-align: center;
        a {
            color: $main_text_color;
        }
    }
}

@media (max-width: 540px) {
    header {
        .spacer {
            width: 30%;
        }
    }
}
@media (max-width: 400px) {
    header {
        .spacer {
            width: 10%;
        }
    }
}
@media (max-width: 350px) {
    header {
        .title {
            span {
                font-size: 1rem;
            }
        }
    }
}