@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "roboto", "sans-serif";
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #0D1B2A;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100%;
  height: 10vh;
  background: #1B263B;
  text-align: center;
}
header .title {
  display: flex;
}
header .title a {
  text-decoration: none;
}
header .title span {
  color: #E0E1DD;
  font-size: 1.5rem;
  font-weight: bold;
}
header .nav {
  display: flex;
  gap: 1rem;
}
header .nav a {
  font-size: 1.2rem;
  font-weight: bold;
  list-style: none;
  text-decoration: none;
  color: #E0E1DD;
}

main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}
main .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 900px;
  height: 600px;
  background: #1B263B;
  gap: 1rem;
}
main .container .title h3 {
  color: #E0E1DD;
}
main .container .modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  position: absolute;
  width: 300px;
  height: 200px;
  background: #0D1B2A;
  color: #E0E1DD;
  gap: 1rem;
}
main .container .modal #modal_content {
  text-align: center;
  font-size: 1.5rem;
  color: #E0E1DD;
}
main .container .modal #close_cross {
  position: absolute;
  font-size: 1.5rem;
  top: 15px;
  right: 30px;
}
main .container .modal #close_cross:hover {
  cursor: pointer;
}
main .container .modal .close_button {
  text-align: center;
  width: 100px;
  height: 30px;
  outline: none;
  border: none;
  background-color: #415A77;
  color: #E0E1DD;
  font-size: 1.2rem;
  border-radius: 5px;
  cursor: pointer;
}
main .container .modal .close_button:hover {
  background: #305177;
}
main .container .display_chances_container #display_chances {
  font-size: 1.5rem;
  color: #E0E1DD;
}
main .container .display_dash {
  color: #E0E1DD;
  text-align: center;
  font-size: 4rem;
}
main .container .display_dash .loader {
  border: 7px solid #f3f3f3;
  border-radius: 50%;
  border-top: 7px solid #4b20c2;
  width: 40px;
  height: 40px;
  -webkit-animation: spin 0.5s linear infinite;
          animation: spin 0.5s linear infinite;
}
main .container .buttons_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 300px;
  height: 200px;
  gap: 0.5rem;
}
main .container .buttons_container .button {
  width: 40px;
  height: 40px;
  font-size: 1.5rem;
  border: none;
  cursor: pointer;
  background: #415A77;
  color: #E0E1DD;
  border-radius: 5px;
}
main .container .buttons_container .button:hover {
  background: #305177;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 1rem;
}
footer p {
  color: #E0E1DD;
  text-align: center;
}
footer p a {
  color: #E0E1DD;
}

@media (max-width: 540px) {
  header .spacer {
    width: 30%;
  }
}
@media (max-width: 400px) {
  header .spacer {
    width: 10%;
  }
}
@media (max-width: 350px) {
  header .title span {
    font-size: 1rem;
  }
}
@-webkit-keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}/*# sourceMappingURL=styles.css.map */